<p>Bonjour <%= @lesson.user.first_name %> <%= @lesson.user.last_name %>,</p>

<p> Merci pour le paiement des arrhes pour votre stage. Votre participation au stage suivant est validée : </p>
<p><%= "#{@lesson.calendarupdate.name}" %></p>

<p>Cordialement</p>

<p><%= "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}" %></p>
<p>email : <%= "#{ENV['EMAIL']}" %></p>
<p>téléphone : <%= "#{ENV['TELEPHONE']}" %></p>
