<% content_for(:description) do %>
  <%= t(:new_lesson_description)%>
<% end %>
<% content_for(:title_tag) do %>
  <%= t(:new_lesson_title)%>
<% end %>
<% content_for(:meta_image) do %>
  <%= render 'shared/stage_pic'%>
  <%= @stagepicpath %>
<% end %>

<%= photo_update('lessonphoto', 80, '', '', 30, '.stagepic', "Mise à jour photo pour stages")%>

<div class="container stage-container">
  <div class="row">

    <!-- LAPTOP -->
    <div class="hidden-xs col-sm-offset-2 col-sm-8">
      <div class="stage">
        <%= facebook_share_id("facebookshare") %>
        <% if @input_dates_collection.size > 0 %>
          <%= simple_form_for @lesson do |f| %>
            <%= f.input :student, collection: ENV['MINBOOKING'].to_i..ENV['CAPACITY'].to_i, selected: ENV['MINBOOKING'].to_i %>
            <label for="calendar_update_ref">* <%=t(:first_day)%></label>
            <%= f.select :calendar_update_ref, options_for_select(@input_dates_collection), class: "date-select" %>
            <% if user_signed_in? %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            <% end %>
            <div class="submit-div-stage">
              <%= f.submit t(:course_request), class: "btn btn-primary stage-btn" %>
            </div>
          <% end %>
        <% else %>
          <h2 class="no-stage">Désolé, il n'y a aucun stage ouvert à la réservation pour le moment.</h2>
        <% end %>
        <div class="text-container">
          <div class="texte-stage">
            <% if user_signed_in? && current_user.admin %>
              <% article_typing("stage", "horizontal", "markdown1", "live-text3", "input3") %>
              <% @markdown = @markdown1 %>
              <%= render 'shared/articletyping' %>
          <% else %>
            <% article_display("stage", "horizontal") %>
            <%= @markdown.html_safe %>
          <% end %>
          </div>
        </div>
        </div>
    </div>

    <!-- MOBILE -->
    <div class="hidden-sm hidden-md hidden-lg col-xs-12">
      <div class="stage-mobile">
        <%= facebook_share_id("facebooksharemobile") %>
        <% if @input_dates_collection.size > 0 %>
          <%= simple_form_for @lesson do |f| %>
            <%= f.input :student, collection: ENV['MINBOOKING'].to_i..ENV['CAPACITY'].to_i, label: "Sélectionnez le nombre de participants", selected: ENV['MINBOOKING'].to_i %>
            <label for="calendar_update_ref">* Sélectionnez le stage dans la liste</label>
            <%= f.select :calendar_update_ref, options_for_select(@input_dates_collection), class: "date-select" %>
            <% if user_signed_in? %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            <% end %>
            <div class="submit-div-stage">
              <%= f.submit t(:course_request), class: "btn btn-primary stage-btn" %>
            </div>
          <% end %>
        <% else %>
          <h2 class="no-stage">Désolé, il n'y a aucun stage ouvert à la réservation pour le moment.</h2>
        <% end %>
        <div class="wrapper">
          <div class="texte-stage">
            <% article_display("stage", "horizontal") %>
            <%= @markdown.html_safe %>
          </div>
        </div>
        </div>
    </div>

  </div>
</div>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "TouristAttraction",
    "name": "Stage de création textile",
    "description": "Fabriquez votre chapeau lors d'un stage",
    "url": "<%=request.original_url%>",
    "provider": {
      "@type": "Organization",
      "name": "Dominique Chapre",
      "sameAs": "<%=request.original_url%>"
    }
  }
  </script>
  <script
  type="text/javascript"
  async defer
  src="//assets.pinterest.com/js/pinit.js"
  data-pin-round="true"
  data-pin-tall="15px"
></script>
  <%= render 'shared/facebookshare' %>
<% end %>
